<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background-color: black;
            font-family:Arial, Helvetica, sans-serif;
        }

        h1, h2 {
            color: white;
        }

        strong {
            color: aqua;
        }

        .st2 {
            color:chocolate ;
        }

        div {
            text-align: center;
            margin-top: 18%;
        }
    </style>
    <div>
    <h1>Bem-vindo(a) ao <strong class="st2">INDEX</strong>!</h1>
    <br>
    <h2>Atividade utilizando <strong>express</strong> e <strong>nodemon</strong></h2>
    </div>
</body>
</html>