<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background-color: black;
            font-family:Arial, Helvetica, sans-serif;
        }

        h1, h2, p {
            color: white;
        }

        .strong {
            color: aqua;
        }

        .st2 {
            color:chocolate ;
        }

        div {
            text-align: center;
            margin-top: 15%;
        }

        p {
            font-size: larger;
        }
    </style>
    <div>
    <h1 class="st2">Aplicativo</h1>
    <br>
    <h2 class="strong">Descrição:</h2>
    <br>
    <p>O objetivo do aplicativo é buscar, encontrar e mostrar individualmente e especificamente detalhes/informações<br>
        dos usuários que estejam dentro do array criado por você.</p>
    </div>
</body>
</html>